<div class="container py-5">
    <div class="col-sm-6 mx-auto my-5">
        <%= form_for(:session, local: true,  :html => {class:"form-horizontal bg-light py-3 px-4 rounded-3", role: "form"}) do |form| %>
            <h4 class="text-center mb-3">Login</h4>
            <div class="mb-3 row">
                <%= form.label :email, class:"col-sm-2 col-form-label" %>
                <div class="col-sm-10">
                <%= form.email_field :email, class:"form-control" %>
                </div>
            </div>
            <div class="mb-3 row">
                <%= form.label :password, class:"col-sm-2 col-form-label" %>
                <div class="col-sm-10">
                <%= form.password_field :password, class:"form-control" %>
                </div>
            </div>

            <div class="actions d-flex flex-column justify-content-center align-items-center my-4">
                <button class="btn btn-primary px-5">Login</button>
                <%= link_to "Signup", signup_path, class:"my-3"%>
            </div>

        <% end %>
    </div>
</div>