
<div class="container py-4">

  <div class="list"> 

    <% obj.each do |article| %>
      <div class="card mb-3">
        <div class="card-header d-flex justify-content-between align-items-center">  
          <h5 class="m-0">
            <%= link_to article_path(article.id), class:"text-decoration-none" do %>
              Title: <%= article.title %> 
            <% end %>
          </h5>
          <div class="d-flex">
            <% if logged_in? && (current_user == article.user || current_user.admin?)%>
              <%= link_to 'Edit', edit_article_path(article), class:"btn btn-warning mx-2 opacity-75"  %>
              <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger opacity-75"  %>
            <% end %>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title fw-normal">Description</h5>
          <p class="card-text fw-light"><%= article.description %></p>

          
          <% if article.categories.any? %>
            <p>Categories: <%= render article.categories %> </p>
          <% end %>
          
          <div class="text-end fw-lighter">
            <%= article.updated_at.strftime("%F %H:%M")  %>
          </div>
        </div>
      </div>
    <% end %>

    <% if obj.length == 0 %>
      <p class="text-center">0 Articles</p>
    <% end %>

  </div>
  </div>
</div>
