<% if article.errors.any? %>

  <div id="error_explanation" class="alert alert-danger">
    <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>
    <ul>
    <% article.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: article, local: true, :html => {class:"form-horizontal", role: "form"}) do |form| %>
   <div class="mb-3 row">
    <%= form.label :title, class:"col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :title, class:"form-control" %>
    </div>
  </div>

  <div class="mb-3 row">
    <%= form.label :description, class:"col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_area :description, rows: 10,class:"form-control" %>
    </div>
  </div>

  <div class="mb-3 row d-flex align-items-center">
    <%= form.label "Category", class:"col-sm-2 col-form-label" %>

    <div class="col-sm-10">
      <%= form.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
        <% cb.label(class:"checkbox-inline input_checkbox me-3"){cb.check_box(class: "checkbox me-1") + cb.text}  %>
      <% end %>
    </div>
  </div>

  <div class="actions d-flex justify-content-between align-items-center my-3">
    <%= form.submit class:"btn btn-primary " %>
    <%= link_to 'Cancel', articles_path, class:"btn btn-light" %>
  </div>

  <div>
  </div>
<% end %>
