<div class="container py-4">
    <div class="d-flex justify-content-between mb-3 align-items-center">
        <h3 class="">Editing Article</h3>
        <%= link_to 'Show', @article %> 
    </div>

    <%= render 'form', article: @article %>

</div>



