
<div class="container py-4">
  <div class="d-flex justify-content-between">
    <h3 class="mb-3 text-center">All Articles</h3>
  </div>

  <div class=""> 

    <%= will_paginate @articles, class: "w-100 Page navigation d-flex justify-content-center"%>

    <% @articles.each do |article| %>
      <div class="card my-3">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h5 class="m-0">
            <%= link_to article_path(article.id), class:"text-decoration-none", title:"Show article" do %>
              Title: <%= article.title %> 
            <% end %>
          </h5>
          <div>
            <% if logged_in? && (current_user == article.user || current_user.admin?)%>
              <%= link_to 'Edit', edit_article_path(article), class:"btn btn-warning me-2 px-2 py-1 opacity-75", title:"Edit article"  %>
              <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger px-2 py-1 opacity-75", title:"Delete article"  %>
            <% end %>
          </div>
        </div>


        <div class="card-body">
          <h5 class="card-title fw-normal">Description</h5>
          <p class="card-text fw-light mb-2"><%= article.description %></p>
          
          <div class="d-flex justify-content-between">
            <div class="d-flex  mt-2">
             <% if article.categories.any?  %>
              <p class="m-0">
                Categories: <%= render article.categories %> 
              </p>
             <% end %>
            </div>
          
            <div class="text-end fw-lighter">
                <%= article.updated_at.strftime("%F %H:%M")  %>
            </div>
          </div>
          <p class="text-end fw-light mb-2">By: <%= article.user.username %></p>

        </div>
      </div>
    <% end %>
  </div>
  </div>
</div>
