<div class="container py-5"> 
  <div class="card mb-3">
    <div class="card-header d-flex justify-content-between">
      <h5 class="">Title: <%= @article.title %> </h5>
      <div class="d-flex">
          <% if logged_in? && (current_user == @article.user || current_user.admin?)%>
            <%= link_to 'Edit', edit_article_path(@article), class:"btn btn-warning px-5 py-1 opacity-75", title:"Edit article" %> 
          <% end %>
      </div>
    </div>
    <div class="card-body">
        <div class="row mb-3">
          <label for="", class="col-sm-4 fw-bold">
            Description:
          </label>
          <div class="col-sm-8">
            <%= @article.description %>
          </div>
        </div>
        <% if @article.categories.any? %>
          <p>Categories: <%= render @article.categories %> </p>
        <% end %>
        <div class="d-flex justify-content-end mt-2">        
          <%= link_to 'Back', articles_path, class:"btn btn-light px-5" %>
        </div>
      </div>
 
    </div>
  </div>
  