  <% if user.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= form_with(model: user, local: true,  :html => {class:"form-horizontal", role: "form"}) do |form| %>

  <div class="mb-3 row">
    <%= form.label :username, class:"col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :username, class:"form-control" %>
    </div>
  </div>

  <div class="mb-3 row">
    <%= form.label :password, class:"col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.password_field :password, class:"form-control" %>
    </div>
  </div>

  <div class="mb-3 row">
    <%= form.label :password_confirmation, class:"col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.password_field :password_confirmation, class:"form-control" %>
    </div>
  </div>

  <div class="mb-3 row">
    <%= form.label :email, class:"col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.email_field :email, class:"form-control" %>
    </div>
  </div>

  <div class="actions d-flex justify-content-between align-items-center my-4">
    <%= form.submit(user.new_record? ? "Sign up" : "Update account",class:"btn btn-primary") %>
    <%= link_to 'Cancel', users_path, class:"btn btn-light" %>
  </div>

<% end %>
