<div class="container py-5"> 
    <div class="d-flex justify-content-between">
        <h3 class="mb-3 text-center">Edit your account</h3>
        <%= link_to 'Show', @user %>
    </div>

    <%= render 'form', user: @user %>

</div>

