<div class="container py-4"> 
  <div class="d-flex justify-content-between mb-3">
    <h3>Users</h3>
    <!--<%= link_to 'New User', new_user_path, class:"btn btn-success" %>-->
  </div>
  <div class="">
    <%= will_paginate @users, class: "w-100 Page navigation d-flex justify-content-center"%>

    <% @users.each do |user| %>
        <div class="card shadow w-100 my-3">
          <div class="card-body text-center d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <%= gravatar_for user %>
              <%= link_to user_path(user.id), class:"text-decoration-none link-dark text-dark ms-3 fw-bold", title:"Show page" do %>
                Username: <%= user.username %> 
              <% end %>
            </div>

            <h5 class="card-title fw-normal m-0">Articles: <%= user.articles.count  %>
            </h5>

            <% if logged_in? && current_user.admin?%>
              <!--<td><%= link_to 'Edit', edit_user_path(user) %></td>-->
              <%= link_to 'Destroy', user,class:"btn btn-danger opacity-75", method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>

          </div>
        </div>
    <% end %>
  </div>
</div>
