<div class="container py-5"> 
  <div class="mb-3 mx-auto">
    <div class=" d-flex flex-column align-items-center py-3"> 
      <div class=" ms-3">
        <h3 class="mb-2">Welcome to <%= @user.username %>'s page </h3>
      </div>
      <%= gravatar_for @user %>
    </div>

    <div class="">
      <div class="d-flex justify-content-between">
        <h4 class="px-3 my-2">Articles the <%= @user.username %></h4>
        <%= link_to 'New Article', new_article_path, class:"btn btn-primary d-flex align-items-center" %>
      </div>
        
        <%= will_paginate @user_articles, class: "w-100 Page navigation d-flex justify-content-center" %>

        <%= render 'articles/article', obj: @user_articles %>

        <!--<div class="d-flex justify-content-between mb-3 px-3">
          <%= link_to 'Edit', edit_user_path(@user), class:"btn btn-success px-5" %> 
          <%= link_to 'Back', users_path, class:"btn btn-light px-5" %>
        </div>-->
    </div>
  </div>
</div>
