<div class="py-5 box-home d-flex">    
    <div class="container d-flex align-items-center"> 
        <div class="">
            <h1>Welcome to the application</h1>
            <%= link_to "Login", login_path, class:"btn btn-primary my-3 px-5" %>
        </div>
    </div>
</div>
