
<div class="container py-4">
  <div class="d-flex justify-content-between">
    <h5 class="my-0">Categories</h5>
    <% if logged_in? and current_user.admin? %>
      <%= link_to 'New Category', new_category_path, class:"d-flex align-items-center btn btn-success" %>
    <% end %>
  </div>

  <div>
    <%= will_paginate @categories, class: "w-100 Page navigation d-flex justify-content-center"%>

    <% @categories.each do |category| %>
      <div class="card my-2">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <p class="m-0">
              <%= link_to category.name.upcase, category, class:"text-decoration-none", title:"Show category #{category.name}" %>
            </p>
            <p class="text-dark m-0"> Articles: <%= category.articles.count %> </p>
          </div>
          <div class="d-flex justify-content-end">
            <% if logged_in? and current_user.admin? %>
              <%= link_to 'Edit', edit_category_path(category), class:"btn btn-warning me-2" %>
              <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  
</div>
