<div class="container"> 

    <div class="d-flex justify-content-between">
      <h5>
        <%= "Category: " + @category.name   %>
      </h5>
      <% if logged_in? and current_user.admin? %>
        <%= link_to 'Edit', edit_category_path(@category), class:"btn btn-warning" %> 
      <% end %>
    </div>

    <div class="py-3">
      <%= will_paginate @category_articles, class: "w-100 Page navigation d-flex justify-content-center" %>

      <%= render 'articles/article', obj: @category_articles %>
    </div>
</div>
