<div class="messages py-3">
  <div class="container"> 
    <div class="col-xs-10 col-xs-offset-1">
      <% if notice != nil %>
        <div id="" class="alert alert-success">
          <div class="d-flex justify-content-between">
            <%= notice %>
            <a href="#" class="close" data-disimiss="alert">&#215;</a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>