<nav class="py-4 px-3 navbar navbar-expand-lg navbar-light bg-white shadow-sm">
  <div class="container-fluid">
    <%= link_to root_path, class:"navbar-brand me-3 bg-black text-white px-2 rounded fw-bold" do %>
      Alpha Blog
    <% end %>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!--<li class="nav-item">
            <%= link_to "About", about_path, class:"nav-link"%>
        </li>-->
        <li class="nav-item">
            <%= link_to "Articles", articles_path, class:"nav-link"%>
        </li>
         <li class="nav-item">
            <%= link_to "Usuarios", users_path, class:"nav-link"%>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categories 
          </a>
          <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
            <li>
              <%= link_to "All", categories_path, class:"dropdown-item" %>
            </li>
            <% Category.all.each do |item| %>
              <li>
                <%= link_to "#{item.name}", category_path(item.id), class:"dropdown-item" %>
              </li>
            <% end %>
            <li>
              <% if logged_in? and current_user.admin? %>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <%= link_to "New category", new_category_path, class:"dropdown-item" %>
              <% end %>
            </li>
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <% if logged_in?  %>
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Profile <%= current_user.username %> <%= current_user.admin? ? ' - Admin': '' %>
          </a>
          <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
           
            <li>
              <%= link_to "Edit your profile", edit_user_path(current_user), class:"dropdown-item" %>
            </li>
            <li>
              <%= link_to "View your profile", user_path(current_user), class:"dropdown-item" %>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <%= link_to "Log out", logout_path, method: :delete, class:"dropdown-item" %>
            </li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</nav>