<!DOCTYPE html>
<html>
  <head>
    <title>AlphaBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <main>
      <%= render 'layouts/messages' %>  
      <%= yield %>
      <!--<%= debug(params) if Rails.env.development? %>-->
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
